<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Natuspa - Beauty Salon & Spa Template</title>
    <link href="./resource/css/style.css" rel="stylesheet">
    <link href="./resource/css/queries.css" rel="stylesheet">
    <link href="./resource/css/animation.css" rel="stylesheet">
    <link href="./vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="./vendor/fonts/fontawesome-5.0.13/css/all.css" rel="stylesheet">
    <link href="./vendor/fonts/natuspa-font/css/natuspa-icons.css" rel="stylesheet">
    <link href="./vendor/js/slick/slick.css" rel="stylesheet">
    <link href="./vendor/js/slick/slick-theme.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" /> -->
    <link href="./vendor/js/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet">
    <link href="./vendor/js/Magnific-Popup-master/magnific-popup.css" rel="stylesheet">
    <!-- favicons -->
    <link href="/resource/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/resource/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/resource/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/resource/favicons/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/resource/favicons/safari-pinned-tab.svg" rel="mask-icon">
    <link href="/resource/favicons/favicon.ico" rel="shortcut icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="/resource/favicons/browserconfig.xml" name="msapplication-config">
    <meta content="#ffffff" name="theme-color">
</head>

<body class="preload">

<!-- Loading ......... -->
<div class="loader" id="loader">
    <div class="loader-inner">
        <img alt="Loader" class="loader-img" src="./imgs/loader.svg">
    </div>
</div>

<!-- scroll top -->
<a class="scroll-top link-text" href="#home">Top</a>

<!-- page wrapper -->
<div class="page-wrapper">
    <!-- Header -->
    <header class="other-pages" id="home">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-dark">
            <!-- logo site -->
            <a class="navbar-brand main-logo" href="index.html" rel="home" title="Pet Friend">
                <img alt="Natuspa Logo" height="76" src="./imgs/logo_white.png" width="193">
            </a>
            <!--  main nav -->
            <button class="navbar-toggler mobile-nav-icon" data-target="#main-nav-mobile" data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse main-nav">
                <ul class="navbar-nav menu" id="mainNav">
                    <li class="nav-item menu-item">
                        <a class="nav-link" href="index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link" href="spaServices.html">Dịch vụ</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link" href="contact-us.html">Liên hệ</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link" href="contact-us.html">Đăng nhập</a>
                    </li>
                </ul>
            </div>
            <!-- nav icon -->
            <div class="main-nav-icon">
                <!-- shopping bag -->
                <a class="bag-button">
                        <span class="bag-icon nav-icon">
                            <i class="far fa-calendar"><span class="badge badge-danger">2</span></i>
                        </span>
                </a>
                <!-- search icon -->
                <a href="#" id="search-icon">
                        <span class="bag-icon nav-icon">
                            <i class="fas fa-search"></i>
                        </span>
                </a>
                <div class="search-form">
                    <span class="close-search"><i class="fal fa-times-circle"></i></span>
                    <form action="#" class="search-input">
                        <input id="searchForm" name="search" placeholder="Type and hit enter..." type="text">
                    </form>
                </div>

            </div>
        </nav>

    </header>

</div>
<!-- appointment & form section -->
<div class="appointment-section container-fluid">
    <div class="container">
        <div class="row">
            <div class="spacer-clearfix" style="height: 90px;"></div>
            <div class="heading col-12">
                <div class="pre-heading">Đặt lịch hẹn</div>
                <div class="main-heading">premium<br>Collection</div>
                <div class="sub-heading">Giảm giá 50%</div>
            </div>
            <div class="spacer-clearfix" style="height: 60px;"></div>
            <div class="appointment-form col-12">
                <form class="signal-form">
                    <div class="row">
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 your-name">
                            <input id="name" name="name" placeholder="Full Name" type="text">
                            <div class="error">( <span>*</span> )</div>
                        </div>
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 your-email">
                            <input id="email" name="email" placeholder="E-mail" type="text">
                            <div class="error">( <span>*</span> )</div>
                        </div>
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 your-phone-number">
                            <input id="phone-number" name="phone-number" placeholder="Phone Number" type="text">
                            <div class="error">( <span>*</span> )</div>
                        </div>
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 preferred-date">
                            <input autocomplete="off" id="datepicker" name="preferred-date"
                                   placeholder="Preferred Date" type="text">
                            <div class="error">( <span>*</span> )</div>
                        </div>
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 your-spaService">
                            <div class="current-option" data-value="0">Type Of Services</div>
                            <div class="error">( <span>*</span> )</div>
                            <span class="dropdown-icon"><i class="fal fa-chevron-down down"></i></span>
                            <ul class="option-menu">
                                <li class="option" data-value="0">Type Of Services</li>
                                <li class="option" data-value="1">Natural Waxing</li>
                                <li class="option" data-value="1">Signature Massage</li>
                                <li class="option" data-value="1">Natural Nails Care</li>
                                <li class="option" data-value="1">Body Treatments</li>
                                <li class="option" data-value="1">Derm Young Facial</li>
                            </ul>
                        </div>
                        <div class="form-input col-lg-4 col-md-6 col-sm-12 submit-btn">
                            <input class="btn book-now-btn" disabled="disabled" id="appointment-submit"
                                   name="submit" style="opacity: 1;" value="APPOINTMENT NOW">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer id="footer" style="margin-top: 300px;">
    <div class="footer-content">
        <a href="index.html"><img alt="footer-logo" src="./imgs/footer-logo-white.png"></a>
        <div class="sub-heading">Design by @CBR-Themes</div>
        <div class="slogan">Pro inimicus sapientem an, ad cibo velit.</div>
        <ul class="footer-social">
            <li class="social-media" style="background-color: #4b64a6;">
                <a class="social-popup-icon" href="https://fb.com/Tuannguyentn2504" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="social-media" style="background-color: #0cace4;">
                <a class="social-popup-icon" href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="social-media" style="background-color: #f12756;">
                <a class="social-popup-icon" href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">Copyright © 2019. Natuspa. All Rights Reserved.</div>
</footer>


<script src="./vendor/js/jquery-v3.4.1.min.js"></script>
<script src="./vendor/js/bootstrap.min.js"></script>
<script src="./vendor/js/jquery.waypoints.min.js"></script>
<!-- <script src="https://kit.fontawesome.com/7534282567.js" crossorigin="anonymous"></script> -->
<script src="./vendor/js/slick/slick.min.js"></script>
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
<script src="./vendor/js/datetimepicker-master/build/jquery.datetimepicker.full.js"></script>
<script src="./vendor/js/Magnific-Popup-master/jquery.magnific-popup.min.js"></script>
<script src="./resource/js/script.js"></script>
<script src="./resource/js/nav-sticky.js"></script>
<script src="./resource/js/search.js"></script>
</body>

</html>

